<nav class="navbar navbar-expand-sm navbar-dark ">

    <a class="navbar-brand col-md-1" href="/">KateMailer</a>
    <div class="col-md-11 d-flex flex-row justify-content-between">

        <input class="form-control col-md-6 offset-md-1" type="text" placeholder="Search" aria-label="Search">
        <div class="justify-content-end px-2" id="nav-content">
            <div class="navbar-nav flex-nowrap">
                <div *ngIf="isSignIn">
                    <label>{{userName}}</label>
                    <label>{{date | date:'mediumTime':'':'ru'}}</label>
                    <button type="button" class="btn btn-link" (click)="signoutClick()" style="color:#fff" [disabled]="loading">
                        <i *ngIf="loading" class="fa fa-spinner fa-pulse"></i>
                        Log out
                    </button>
                </div>
                <a *ngIf="!isSignIn" class="nav-link" routerLink="login">Login</a>
            </div>
        </div>
    </div>
</nav>