<nav class="navbar navbar-expand-sm navbar-dark ">

    <a class="navbar-brand col-md-1" href="/">KateMailer</a>
    <div class="col-md-11 d-flex flex-row justify-content-between">

        <input class="form-control col-md-6 offset-md-1" type="text" placeholder="Search" aria-label="Search">
        <div class="justify-content-end px-2" id="nav-content">
            <div class="navbar-nav flex-nowrap">
                <button type="button" *ngIf="!isSignIn" class="btn btn-link" id="googleres" style="color:#fff" (click)="handleAuthClick()">Log in</button>
                <div *ngIf="isSignIn">
                    <label>{{userName}}</label>
                    <button type="button" class="btn btn-link" (click)="handleSignoutClick()" style="color:#fff">Log out</button>
                </div>
            </div>
        </div>
    </div>
</nav>