.row {
    margin: 0;
}

.content {
    overflow-y: scroll;
    height: 80vh;
}

.mail-item {
    background-color: rgba(255, 255, 255, 0.527);
    overflow: hidden;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: black;
}

.message{
    color: gray;
    overflow: hidden;
    white-space: nowrap;
}

.mail-sender{
    width: 200px;
}

.new-mail{
    font-weight: bold;
}

.toolbar{
    padding-bottom: 25px;
    margin-top: -70px; 
}