@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    background-image: url("assets/beautiful-winter-landscape-white-mountains-5120x2880.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
    height: 100%;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr.mail {
    margin-top: 0px;
    margin-bottom: 0px;
}