<form class="form-sign" [formGroup]="registerForm">
  <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
  <input formControlName="login" type="text" class="form-control" placeholder="Email" name="username" required>
  <input formControlName="password" type="password" class="form-control" placeholder="Password" name="password" required>
  <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm password" name="confirmpassword"
    required>
  <div class="alert alert-danger" *ngIf="(registerForm.controls['password'].invalid && registerForm.controls['password'].touched)||
  (registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].touched)||
  (registerForm.controls['login'].invalid && registerForm.controls['login'].touched)">
    Incorrect login or password
  </div>
  <div class="alert alert-danger" *ngIf="registerForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="register()" [disabled]="registerForm.invalid||loading">
    <i *ngIf="loading" class="fa fa-spinner fa-pulse"></i>
    Register
  </button>
  Bring me back to
  <a routerLink="/login">login page!</a>
</form>